.toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.toast {
  min-width: 250px;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: large;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease forwards;
  opacity: 0;
}

.success {
  background-color: black;
}

.error {
  background-color: orange;
  color: black;
}

@keyframes slideIn {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
