header {
  background-color: gray;
  span {
    font-size: x-large;
  }
  nav {
    max-width: 80%;
    margin: 0 auto;
    height: 64px;

    ul {
      font-size: large;
      list-style: none;
      margin: 0;
      padding: 0 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        cursor: pointer;
        &:hover {
          color: green;
        }
      }
    }
  }
}
