.players-grid {
  width: calc(5 * 266px);
  justify-content: flex-start;
}

.player-card-wrapper {
  width: 250px;
  height: 180px;
  border-radius: 0.75rem;
  text-align: center;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .player-card {
    height: 100%;
  }

  .card-body {
    padding: 1rem;
    overflow: hidden;

    .card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.2s;
    border-radius: 0.75rem;
  }

  &:hover .hover-overlay {
    opacity: 1;
  }

  .delete-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    background: rgba(255, 0, 0, 0.3);
    border: none;
    border-radius: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;

    &:hover {
      background: red;
    }
  }

  .edit-btn {
    position: absolute;
    top: 0.5rem;
    right: 2.5rem;
    color: white;
    background: rgba(0, 0, 255, 0.3);
    border: none;
    border-radius: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;

    &:hover {
      background: blue;
    }
  }
}

.unknown-pos {
  background-color: #e45a5a;
}
.fw {
  background-color: #ffcccc;
}
.mf {
  background-color: #ccccff;
}
.df {
  background-color: #fff3cc;
}
.gk {
  background-color: #ccffcc;
}
